<ion-view title="BUSCAR PRATOS" id="page3">
  <ion-content padding="true" class="has-header">
    <form id="bUSCARPRATOS-form4" class="list">
      <label class="item item-select" id="bUSCARPRATOS-select1">
        <span class="input-label">Selecione</span>
        <select>
          <option>Hot dog gourmet</option>
          <option>Pastel de frango com catupiry</option>
          <option>Coxinha deliciosa caseira</option>
          <option>Enroladinho de presunto e queijo</option>
          <option>Esfirra de carne aberta</option>
          <option>Porção de canolli para 5 pessoas</option>
        </select>
      </label>
    </form>
    <button id="bUSCARPRATOS-button1" class="button button-positive button-block">Pesquisar</button>
    <div id="bUSCARPRATOS-container1">
      <div id="bUSCARPRATOS-container2" class="creator-container"></div>
    </div>
  </ion-content>
</ion-view>