<ion-view title="CARDÁPIO francis" id="page2">
  <ion-content padding="true" class="has-header">
    <div class="list card COXINHA" id="cARDPIOFrancis-card22">
      <div class="list card PASTEL" id="cARDPIOFrancis-card25">
        <div class="list card HOT DOG" id="cARDPIOFrancis-card27">
          <ion-item class="item-avatar" id="cARDPIOFrancis-list-item15">
            <img src="img/GNvbYwUtSFOiUUv0EAfq_17052017VIVAChimiChurriHotDogs.jpg">
            <h2>HOT DOG</h2>
          </ion-item>
          <div class=" item item-image">
            <img src="img/oiHkWfCoR8a2fMsIiIAt_17052017VIVAChimiChurriHotDogs.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
          </div>
          <div class="item item-body" id="cARDPIOFrancis-list-item-container8">
            <div id="cARDPIOFrancis-markdown8" class="show-list-numbers-and-dots">
              <p style="margin-top:0px;color:#000000;">Hot dog gourmet.</p>
            </div>
          </div>
          <ion-item class="item-icon-left positive" id="cARDPIOFrancis-list-item16">
            <i class="icon ion-android-restaurant"></i>R$ 6,00</ion-item>
        </div>
        <ion-item class="item-avatar" id="cARDPIOFrancis-list-item11">
          <img src="img/1Wqoo28SQiOQpoJYCIa6_23_55_45_120_Pastel.png">
          <h2>PASTEL DE FRANGO</h2>
        </ion-item>
        <div class=" item item-image">
          <img src="img/bCaCJ5PISiqixjHM8Qnr_23_55_45_120_Pastel.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <div class="item item-body" id="cARDPIOFrancis-list-item-container6">
          <div id="cARDPIOFrancis-markdown6" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">Pastel de frango com catupiry.</p>
          </div>
        </div>
        <ion-item class="item-icon-left positive" id="cARDPIOFrancis-list-item12">
          <i class="icon ion-android-restaurant"></i>R$ 3,00</ion-item>
      </div>
      <div class=" item item-image">
        <img src="img/4BUxEdLR2mnDtbmLVd9C_massa-de-coxinha-receita.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <ion-item class="item-avatar" id="cARDPIOFrancis-list-item5">
        <img src="img/tkiHC6CDQR2SGlJwJK97_massa-de-coxinha-receita.jpg">
        <h2>COXINHA</h2>
      </ion-item>
      <div class="item item-body" id="cARDPIOFrancis-list-item-container3">
        <div id="cARDPIOFrancis-markdown3" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Coxinha deliciosa caseira.</p>
        </div>
      </div>
      <ion-item class="item-icon-left positive" id="cARDPIOFrancis-list-item6">
        <i class="icon ion-android-restaurant"></i>R$ 3,50</ion-item>
    </div>
    <div class="list card ENROLADINHO" id="cARDPIOFrancis-card28">
      <ion-item class="item-avatar" id="cARDPIOFrancis-list-item17">
        <img src="img/LOLausZWQ6ezPSgv34lg_enroladinho-de-presunto-e-queijo.jpg">
        <h2>ENROLADINHO</h2>
      </ion-item>
      <div class=" item item-image">
        <img src="img/jOW1ZuWFRO2SwqITPcN6_enroladinho-de-presunto-e-queijo.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="cARDPIOFrancis-list-item-container9">
        <div id="cARDPIOFrancis-markdown9" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Minis enroladinhos de presunto e queijo.</p>
        </div>
      </div>
      <ion-item class="item-icon-left positive" id="cARDPIOFrancis-list-item18">
        <i class="icon ion-android-restaurant"></i>R$ 1,00</ion-item>
    </div>
    <div class="list card ESFIRRA" id="cARDPIOFrancis-card26">
      <ion-item class="item-avatar" id="cARDPIOFrancis-list-item13">
        <img src="img/ZaBLtjXTa23Wu97rXxKF_esfirra-de-carne.jpg">
        <h2>ESFIRRA</h2>
      </ion-item>
      <div class=" item item-image">
        <img src="img/nCzzsMLBRUaZD2leqUQa_esfirra-de-carne.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="cARDPIOFrancis-list-item-container7">
        <div id="cARDPIOFrancis-markdown7" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Esfirra de carne aberta.</p>
        </div>
      </div>
      <ion-item class="item-icon-left positive" id="cARDPIOFrancis-list-item14">
        <i class="icon ion-android-restaurant"></i>R$ 3,50</ion-item>
    </div>
    <div class="list card CANOLLI" id="cARDPIOFrancis-card24">
      <ion-item class="item-avatar" id="cARDPIOFrancis-list-item9">
        <img src="img/cHlUZCEwTL23nRcdVDgX_imagem_release_1210420-696x464.jpg">
        <h2>CANOLLI</h2>
      </ion-item>
      <div class=" item item-image">
        <img src="img/bBYorgWbQn245G4WVk6B_imagem_release_1210420-696x464.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="cARDPIOFrancis-list-item-container5">
        <div id="cARDPIOFrancis-markdown5" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Porção de canolli para 5 pessoas.</p>
        </div>
      </div>
      <ion-item class="item-icon-left positive" id="cARDPIOFrancis-list-item10">
        <i class="icon ion-android-restaurant"></i>R$ 50,00</ion-item>
    </div>
  </ion-content>
</ion-view>