<ion-view title="PERFIL" id="page4">
  <ion-content padding="true" class="has-header">
    <ion-list id="pERFIL-list2">
      <ion-item class="item-avatar" id="pERFIL-list-item32">
        <img src="img/6v12VH5sR7yL307z5Siv_250px-Irineu1.jpg">
        <h2>Francis Silva</h2>
      </ion-item>
      <ion-item class="item-icon-left" id="pERFIL-list-item26">
        <i class="icon ion-ios-email"></i>francileysilva96@gmail.com</ion-item>
      <ion-item class="item-icon-left" id="pERFIL-list-item27">
        <i class="icon ion-ios-telephone"></i>(68)9 99207-6393</ion-item>
      <ion-item class="item-icon-left" id="pERFIL-list-item28">
        <i class="icon ion-ios-people"></i>Franciley S Leitão</ion-item>
      <ion-item class="item-icon-left" id="pERFIL-list-item29">
        <i class="icon ion-ios-location"></i>69999999</ion-item>
    </ion-list>
  </ion-content>
</ion-view>